body {
	font-family: Arial, sans-serif;
	/* font-family: "Pretendard Variable"; */
}

* {
	color: #ffffff;
	margin: 0;
	padding: 0;

	font-size: 1rem;
	font-style: normal;
	line-height: normal;

	cursor: default;
}

/* div {
	border: 1px solid #f00000;
} */

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #3d3d5a; 
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #6b5faf; 
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #8d79d4; 
}


#background {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	background: linear-gradient(153deg, #27115f 15%, #927acf 45%, #c8c2ff 62%, #5925dc 93%);
}

#background_blur {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.blur {
	-webkit-backdrop-filter: blur(50px);
	backdrop-filter: blur(50px);
}

/*********************background*********************/
/*********************login*********************/

#new_room, #room_users, #room_settings, #chat_input{
	display: none;
}



#loginPopup {
	display: none;
	z-index: 1;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
	padding: 20px;
	color: white;
	text-align: center;
}

input[type="text"],
input[type="password"] {
	margin: 10px 0;
	padding: 5px;
}

.login_popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.register {
	display: none;
}

.login {
	display: block;
}

.login_container {
	max-width: 300px;
	padding: 10px;
}

input:not([type="file"]) {
	width: calc(100% - 30px);
	padding: 15px;
	margin: 0;
	margin-bottom: 16px;
	border: none;
	background: #f1f1f1;
	color: rgb(0, 0, 0);
}

input[type="file"] {
	width: calc(100% - 30px);
	margin-bottom: 16px;
	border: none;
}

.spacer {
	height: 32px;
}



input:not([type="file"]):focus {
	background-color: #ddd;
	outline: none;
}

.btn {
	background-color: #04aa6d;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom: 10px;
	opacity: 0.8;
}

#top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.cancel {
	padding: 4px 0px;
	width: 32px;
	background-color: red;
}

.btn:hover,
.open-button:hover {
	opacity: 1;
}

/*********************login*********************/
/*********************topbar*********************/

#topbar {
	height: 75px;
	margin: 0px 32px;
	margin-top: 24px;

	display: flex;
	flex-direction: row;

	justify-content: space-between;
}

.topbar_item {
	margin: 0px 16px;
	padding: 16px;
	align-items: center;

	display: flex;
	flex-direction: row;
}
.topbar_item p {
	margin-left: 16px;
}

/*********************topbar*********************/
/*********************main*********************/

#main {
	display: flex;
	flex-direction: row;
	height: calc(100% - 99px);
}

.box {
	margin: 32px;
	padding: 12px;
	border-radius: 1.875rem;
	background: rgba(12, 17, 29, 0.8);
	backdrop-filter: blur(75px);
}

.box_title {
	display: flex;
	flex-direction: row;

	margin: 0px 8px;

	padding: 8px 0px;

	border-bottom: 1px solid;
}

.box_title p {
	margin-left: 8px;
	align-content: center;
}

#rooms {
	margin-right: 8px;
	width: 20%;
}
#chat {
	margin-left: 8px;
	width: 80%;
}
#chat .box_title {
	justify-content: space-between;

}

.room {
	display: flex;
	flex-direction: row;

	align-items: center;

	border-radius: 1.25rem;
	background: rgba(52, 64, 84, 0.48);
	color: #e0e0e0;

	margin: 16px 16px;
	height: 50px;

	padding: 8px 16px;
}

#room_list {
	overflow: auto;
	height: calc(100% - 50px);
}

.room div {
	display: flex;
	flex-direction: column;
	margin-left: 10px;

	justify-content: space-evenly;
	height: 100%;
}

.room div p {
	font-size: 0.7rem;
}

.interval {
	color: #8e8e8e;
	font-size: 0.6rem;
	margin-left: auto;
	margin-bottom: 4px;
	align-self: flex-end;
}

#new_room {
	position: absolute;
	bottom: 15px;
	right: 20px;
	width: 55px;
	height: 55px;
}

.new_room_popup {
	display: none;
	position: fixed;
	/* top: 78%; */
	bottom: 15px;
	left: 50%;
	transform: translate(-50%, 0%);
	width: calc(100% - 40px);
	/* padding: 10px; */
	margin: 0;
	z-index: 1;
}


.new_room_container {
	padding: 10px;
}



#messages {
	overflow: auto;
	height: calc(100% - 120px);
}



.chat_box {
	margin: 32px;
	margin-bottom: 16px;
	position: relative;
}

.chat_box .chat_profile_picture{
	position: absolute;
	top: 4px;
	left: 4px;

	width: 32px;
	height: 32px;
}

.chat_box div{
	position: relative;
	top: 0px;
	left: 48px;
	width: calc(100% - 48px);
	margin-top: 8px;
}

.chat_box .chat_username {
	color: #FFF;
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.chat_box .chat_message {
	margin-top: 4px;
	color: #FFF;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#chat_input {
	margin: 0px 32px;
	margin-top: 12px;

	
}

#chat_input input{
	margin: 0 4px;
	padding: 8px 0px;
	border: none;
	background: #ffffff00;
	width: calc(100% - 48px);
	color: #ffffff;
}
#chat_input button {
	margin: 0;
	padding: 0;
	border: none;
	background: #ffffff00;

	position: absolute;
	align-content: center;
	top: 6px;
	right: 4px;
}
#chat_input button img{
	height: 46px;
	width: 46px;

}

